<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">AngularApp</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/users">User traditional</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/users/list-signals">Users Signals</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/products/list">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/vehicles']" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact : true}">Vehicle List</a>
        </li>
        <button [routerLink]="['/cart']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact : true}"
          class="btn d-flex align-items-center">
          Cart Vehicles
          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
          <span class="badge text-bg-danger move rounded-pill "> {{cartCount()}}</span>
        </button>
        <button routerLink="/products/my-cart" class="btn d-flex align-items-center">
          Products
          <i class="fa fa-shopping-cart" aria-hidden="true"></i><span
            class="badge text-bg-danger move rounded-pill ">{{cartService.totalItems()}}</span>
        </button>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>